@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    background:url(../img/fondo.jpg) no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}
input,
select,
textarea {
    outline: none;
}

a,
a:hover {
    text-decoration: none;
}

p {
    font-size: 16px;
    line-height: 24px;
    color: #EEEEEE;
}

h4 {
    font-size: 26px;
    font-weight: 700;
    color: #EEEEEE;
    letter-spacing: 0.25px;
}

img {
    width: 100%;
    overflow: hidden;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul li {
    display: inline-block;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

button {
    display: inline-block;
    padding: 2px 2px;
    background-color: #EEEEEE;
    color: #143F6B;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: all 0.5s;
    border: none;
    outline: none;
    cursor: pointer;
}

button:hover {
    outline: none;
    background-color: #143F6B;
    color: #EEEEEE;
}
div {
    display: block;
}
